.image {
    width: 64px;
    height: 64px;
    object-position: center;
    object-fit: cover;
    border-radius: 100%;
    box-sizing: border-box;
    border: solid 2px #4C4CFF;
    background: var(--background);
    position: relative;
}