.card {
    width: 640px;
    height: 80%;
    /*height: 620px;*/
}

.list {
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
    height: 40%;
    /*height: 304px;*/
    overflow-y: auto;
    scrollbar-width: thin;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.id {
    text-align: center;
}

.name {
    max-width: 320px;
    margin-right: auto;
}

.price {
    display: flex;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success {
    color: var(--colors-interface-success);
}