.content {
    display: flex;
    flex-direction: column;

}

.ingredients {
    height: calc(100% - 104px);
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingredient {
    display: flex;
    justify-content: center;
}

.list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

}

.ingredient_list {
    overflow-y: auto;
    scrollbar-width: thin;
}

.item {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: right;
    align-items: center;
}
