.container {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.form > div,
.form > div > div {
    width: 100%;
}

.link {
    text-decoration: none;
    color: var(--colors-interface-accent);
}

.link:hover {
    text-decoration: underline;
}