.header {
    background-color: var(--background);
}

.content {
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.nav {
    margin-right: auto;
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.button {
    display: flex;
    align-items: center;
    background-color: initial;
    border: none;
    cursor: pointer;
}

.personal {
    margin-left: auto;
}
