.main {
    height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: var(--colors-interface-accent);
}

.link:hover {
    text-decoration: underline;
}