.list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item {
    margin: 0 8px 0 0;
    padding: 0;
}

