.card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
}

.name {
    text-align: center;
}